body {
    background-color: #FAF7F0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

nav {
    background-color: #96bdff;
    border-radius: 1em;
    margin-bottom: 30px;
    padding: 15px;
    padding-left: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a:hover {
    color: #ff5e5e;
}

a:link {
    color: #180085;
}

.quote {
    color: #ff5e5e;
}

footer {
    padding: 10px;
}

.aboutme {
    border-radius: 1em;
    background-color:#ffffff;
    text-align: center;
    padding: 10px;
    margin: 30px;
    color:#ff5e5e;
    font-size: 50px;
}

.intro {
    line-height: 1.5;
    margin: 20px;
    color: #180085;
    font-size: 20px;
    text-align: center;
}

.londonbanner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
} 

.skip {
    background-color: #ffa500;
    padding: 5px;
    border: 1px solid black;
    position: absolute; /* places button on top of everything else*/
    top: 30px;
    left: -999px; /* Pushes it off screen */
}

.skip:focus {
    left: 10px; }

@media only screen and (max-width: 600px) {
    nav a {max-width: 100%; display: block; margin: 10px; padding: 5px; text-align: center;}
    span {display: none;}
    .aboutme {font-size: 40px;}
}